In [2]:
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
import pandas as pd

In [3]:
df = pd.read_csv(r"D:\OneDrive - Institut Teknologi Bandung\Semester 2\6. Sistem Intelijen\Tugas Akhir\Dataset-training.csv",header=None)
df.head()

        0   1  2
0  202001   7  2
1  202001   7  2
2  202001   6  2
3  202002   2  1
4  202002  16  2

In [4]:
df.describe()

                   0          1          2
count      20.000000  20.000000  20.000000
mean   202003.100000   4.400000   1.500000
std         1.997367   3.454974   0.512989
min    202001.000000   1.000000   1.000000
25%    202001.000000   2.000000   1.000000
50%    202002.500000   3.000000   1.500000
75%    202005.000000   6.250000   2.000000
max    202007.000000  16.000000   2.000000

In [5]:
df.columns = ["NIP", "Staf-Proses", "Kategori"]

In [6]:
df.head()

      NIP  Staf-Proses  Kategori
0  202001            7         2
1  202001            7         2
2  202001            6         2
3  202002            2         1
4  202002           16         2

In [7]:
df = df.drop(["NIP"],1)

In [8]:
df.head()

   Staf-Proses  Kategori
0            7         2
1            7         2
2            6         2
3            2         1
4           16         2

In [9]:
Y = df["Kategori"]

In [10]:
X = df[["Staf-Proses"]]

In [11]:
X.head()

   Staf-Proses
0            7
1            7
2            6
3            2
4           16

In [12]:
Y.head()

0    2
1    2
2    2
3    1
4    2
Name: Kategori, dtype: int64

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [14]:
clf = neighbors.KNeighborsClassifier()

In [15]:
clf.fit(X_train, Y_train)

KNeighborsClassifier()

In [16]:
accuracy = clf.score(X_test, Y_test)
accuracy

0.5

In [17]:
sample_measure = np.array([5])
print(sample_measure)

[5]

In [18]:
sample_measure = sample_measure.reshape(1,-1)

In [19]:
predict = clf.predict(sample_measure)

In [20]:
predict

array([1], dtype=int64)